<%- include('../../shared/includes/head', {pageTitle: job.companyname+'|'+job.title}) %>
<link rel="stylesheet" href="/styles/jobs.css">
<script src="/scripts/save-management.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main id="job-details">
        <div id="job-detail-card">
            <div id="job-info">
                <div>
                    <img src="<%= job.imageUrl %>" alt="<%= job.imageUrl %>">
                    <h2><%= job.companyname %></h2>
                </div>
                <div>
                    <h3><%= job.worktype %></h3>
                </div>
            </div>
            <div id="job-info">
                <div>
                    <h4><i class="fa-solid fa-location-dot"></i> <%= job.location %></h4>
                    <h4><i class="fa-solid fa-business-time"></i> <%= job.jobtype %></h4>
                </div>
                <div>
                    <h4><i class="fa-solid fa-building-user"></i> <%= job.experience %> years</h4>
                    <h4><i class="fa-solid fa-money-bills"></i> <%= job.salary %> per month</h4>
                </div>
            </div>
        </div>
        <div id="job-description">
            <% if (locals.isAuth) { %>
                <button class="btn btn-alt save" data-jobid="<%= job.id %>" data-csrf="<%= locals.csrfToken %>"><i class="fa-<% if (locals.save.isSaved(job.id)) { %>solid<% } else { %>regular<% } %> fa-bookmark"></i> Save</button>        
            <% } %>
            <h2><%= job.title %></h3>
            <p><%= job.description %></p>
            <p><%= job.summary %></p>
            <% if (locals.isAuth) { %>
            <button class="btn">Apply</button>
            <% } else { %>
                <p id="Login-Apply">Login to Apply</p>
            <% } %>
        </div>
    </main>
<%- include('../../shared/includes/footer') %>