<article class="job-item">
    <div class="job-main-content">
        <img src="<%= job.imageUrl %>" alt="<%= job.title %>">
        <div>
            <h2><%= job.title %></h2>
            <h3><%= job.companyname %></h3>
            <h3><i class="fa-solid fa-location-dot"></i> <%= job.location %></h3>
        </div>
      </div>
      <h3 id="worktype"><%= job.worktype %></h3>
    <div class="job-actions">
      <% if (locals.isAdmin) { %>
        <a class="btn btn-alt" href="/admin/jobs/<%= job.id %>">View & Edit</a>
        <button class="btn btn-alt" data-jobid="<%= job.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
      <% } else { %>
        <a class="btn btn-alt" href="/jobs/<%= job.id %>">View Details</a>     
      <% } %>  
    </div>
</article>